.goal-list {
  display: flex;
  flex-direction: column;
    list-style: none;
    height: 400;
   
  }
  .goal-list li{
    display: flex;
    margin: 1rem 0;
    border: 1px solid #000;
    padding: 1rem; }